# Base de données SQLite
*.sqlite3
*.db
db.sqlite3
merchex/db.sqlite3

# Fichiers Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environnements virtuels Python
venv/
venv-*/
env/
ENV/
.venv/

# Variables d'environnement
.env
.env.local

# Fichiers de développement
.vscode/
.idea/

# Logs
*.log
logs/

# Fichiers Django
media/
staticfiles/
